@model MatthewRichardCrossServices.Models.Contact

@{
    ViewBag.Title = "Contact Me";
}

<div id ="contact-me">
<h2>Contact Me</h2>

<h4>Please contact me or fill in the form.</h4>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Forename)
        </div>
        <div class="editor-field-contact">
            @Html.EditorFor(model => model.Forename)
            @Html.ValidationMessageFor(model => model.Forename)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="editor-field-contact">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TelephoneNumber)
        </div>
        <div class="editor-field-contact">
            @Html.EditorFor(model => model.TelephoneNumber)
            @Html.ValidationMessageFor(model => model.TelephoneNumber)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field-contact">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field-message">
           @Html.EditorFor(model => model.Message)
           @Html.ValidationMessageFor(model => model.Message)
        </div>    
    
        <p>
            <input type="submit" value="Send" />
        </p>
 }
 <hr />
        <div id = "mrc">
            <br /><img src="../../Content/themes/base/images/Email.jpg" /> info@mcpropertyservices.net
            <br /><img src="../../Content/themes/base/images/Home.jpg" /> 117 Ravenhill Road
            <br />Knowle
            <br />Bristol
        </div>
</div>